* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --border: 1px solid black;
}

.app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  margin: 1rem;
}

.app > section {
  border: var(--border);
}

.app > section > h2 {
  margin: 0.5rem;
}

.app > section > ul {
  margin-left: 2rem;
}

.app > section > ul > li {
  margin: 0.5rem;
}

.app > section > ul > li {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: 1fr auto;
}

.app > section > ul > li > button {
  height: min-content;
  cursor: pointer;
  padding: 0.125rem;
}
